
	.table_style {
		 width: 550px; /* 전체 테이블 폭 지정 */	
		 text-align: center;
		}
		
	.table_style .round{
/* 		 clear: left; */
		 margin: 0; /*ul 에 대한 ie, ff 차이를 없애기 위해 0 으로 설정 */
		 padding: 0; /*ff 는 속성에 기본 margin, padding 이 설정된 경우가 았음*/
		 list-style-type: none; /* ul li 태그 사용으로 인한 disc 를 안보이도록*/		
		 text-align: center;		 
		 border:1px solid white;
		 background-color:black;
/* 		 background-color:rgb(27,31,36); */
		 height:36px;	
		 float:left;	 
	}		


	.table_style ul li {
		 float: left;
		 margin: 0;  /* 테이블 속성에 사용하던 cellspacing 과 동일 */
		 padding: 0px 0px; /* 테이블 속성에 사용하던 cellpadding 과 동일 */
		 text-align: center;		 
    	 line-height: 40px;
    	 text-align: center; color:white; 
/*     	 background-color:rgb(27,31,36); */
		 background-color:black;
    	 font-weight: bold;
	}
	.table_style ul .leftPos {
		 width: 100px; 
		 text-align: center;
		 border-bottom:1px solid #999;
		 height:36px;
	}
	
	.table_style ul .middlePos {
		 width: 100px;
		 text-align: center;
		 border-bottom:1px solid #999;
		 border-left:1px solid #999;
		 height:36px;
	}
	
	.table_style ul .rightPos {
		 width: 94px;
		 text-align: center;
		 border-bottom:1px solid #999;
		 border-left:1px solid #999;
		 height:36px;		 
/* 		 border-right: 1px solid #000; /*테이블의 우측 보더를 만듬*/
	}	
	
	.vortex_top {
		position:absolute;
		width:550px;
		height:30px;
		top:0px;
		left:0px;
	}
	
	.vortex_bottom {
		width:550px;
		height:200px;
		top:0px;
		left:0px;
	}