@charset "utf-8";
@import url('common.css');

/*Layout*/
html, body{overflow:hidden;height:100%;}
#itsWeb_main{position:relative;top:0;left:0;width:100%;min-width:1260px;height:100%;}

/*Header [Left Area] : 로고*/
#header{z-index:400;position:absolute;top:0;left:0;height:50px;width:100%;border-bottom:2px solid #00745c;background-color:#343434;
box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#header .areaLft{position:absolute;left:50px;top:14px;}
#header .areaLft h1{display:inline;}

/*Header[Right Area]: 날짜, 접속자정보, 로그아웃*/
#header .areaRgt{position:absolute;float:left;margin-top:15px;right:50px;font-size:11px;color:#fff;}
#header .areaRgt .txtBar{padding:0 4px;font-size:9px;color:#7e7e7e;}
#header .areaRgt .btn_logout{margin-left:5px;vertical-align:top;}

/*Container : areaLft, Btn*/
#btnAsdHide, #btnAsdShow{z-index:1150;position:absolute;top:400px;cursor:pointer;}
#btnAsdHide{display:none;left:300px;}
#btnAsdShow{left:0;}

/*Container : Aside*/
#container{z-index:100;position:absolute;top:50px;left:0;width:100%;height:100%;height:calc(100% - 50px);}
#aside{display:none;z-index:200;position:absolute;left:0;width:300px;height:100%;background-color:#034e48;}
.sctLAC{height:33.3%;min-height:285px;padding:46px 66px;text-align:center;word-break:keep-all;color:#fff;cursor:pointer;
box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.sctLAC.clBgGreen01{background-color:#29a78d;}
.sctLAC.clBgGreen02{height:33.4%;background-color:#2b7e6d;}
.sctLAC.clBgGreen03{background-color:#255d51;}
.sctLAC.clBgGreen01:hover{background:#034e48 url("../images/aside/overBg_stt.png") no-repeat center center;}
.sctLAC.clBgGreen02:hover{background:#034e48 url("../images/aside/overBg_mntr.png") no-repeat center center;}
.sctLAC.clBgGreen03:hover{background:#034e48 url("../images/aside/overBg_map.png") no-repeat center center;}
.sctLAC .sctLACLine{width:144px;height:4px;margin:37px auto 0 auto;line-height:0;background-color:#fff;}
.sctLAC .txtTit{margin-top:34px;font-size:26px;line-height:29px;}
.sctLAC .txtExp{margin-top:10px;font-size:12px;line-height:16px;}
.sctLAC.cl03 .sctLACLine{margin-top:23px;}
.sctLAC.cl03 .txtTit{margin-top:20px;}

/*Contents : Map*/
#contents{position:relative;left:0;height:100%;}
.map-content{position:absolute;top:0;left:0;width:100%;height:100%;}


/*Combine-Change Font*/
.sctLAC .txtTit{font-family:"nanumB", "NanumGothicBold", "Nanum Gothic", "나눔고딕", "돋움", "Dotum";}