.fac_normal {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 11px;
	text-decoration:none;
}
.fac_normal:hover {
	background-color:#5cbf2a;
}
/* .fac_nomal:active { */
/* 	position:relative; */
/* 	top:1px; */
/* } */

.fac_normal:active {
	background-color:#f24537;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
/* 	font-weight:bold; */
	padding:6px 11px;
	text-decoration:none;
}

.fac_warning {
	background-color:#f24537;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
/* 	font-weight:bold; */
	padding:6px 11px;
	text-decoration:none;
}
.fac_warning:hover {
	background-color:#c62d1f;
}
.fac_warning:active {
	position:relative;
	top:1px;
}

.fac_box {
/*     width: 73px; */
 	width: 125px;
    height : 43px;    
    border: 7px solid #f24537;    
}

.fac_box02 {
/*     width: 73px; */
 	width: 145px;
    height : 43px;    
    border: 7px solid #f24537;    
}

.map_title {
 	background-color:transparent; 
/* 	border:1px solid #d02718; */
/* 	display:inline-block; */
/* 	cursor:pointer; */
	color:#f9f9f9;
	font-family:맑은고딕;
	font-size:40px;
/* 	font-weight:bold; */
	padding:6px 11px;
	text-decoration:none;
}

